.testimonials {
  padding: 2rem;
  min-height: 300px;
  color: #3a001e;
}

.testimonials h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.testimonials .carousel-inner {
  width: 70%;
  margin: auto;
  padding: 20px 0;
}

.testimonials .card {
  border-color: #3a001e;
}

.testimonials .card-header {
  background-color: #3a001e;
  color: #fff;
}

.testimonials .card-body {
  color: #3a001e;
  min-height: 150px;
}

@media only screen and (max-width: 768px) {
  .testimonials {
    text-align: center;
  }
}
