.hero {
    background-image: url('../images/hero-banner.jpg');
    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 500px;
    /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero .hero-button {
    border-width: 3px;
    font-weight: bold;
    background-color: transparent;
    border-color: #fff;
}

.hero .hero-button:hover {
    background-color: #3a001e;
    border-color: #fff;
    color: #3a001e;
    background-color: #fff;
    border-color: #3a001e;
}