/* Section Styling */
.showcase {
  padding: 40px;
}

.showcase-title {
  color: #7a2c18;
  font-weight: bold;
  margin-bottom: 20px;
}

.showcase-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Main Highlight */
.featured-image-gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.featured-images {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  position: relative;
}

.main-saree-image-div {
  flex: 1;
  position: relative;
}

.main-saree-image {
  max-width: 300px;
  height: auto;
  /* border: 2px solid #3663D8; */
  border-radius: 0.5rem;
}

.side-saree-image-div {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.side-saree-image {
  max-width: 150px;
  height: auto;
  /* border: 2px solid #3663D8; */
  border-radius: 0.5rem;
}

/* .featured-image {
  flex: 1;
  position: relative;
}

.main-saree-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
} */

.caption {
  font-size: 16px;
  color: #7a2c18;
  margin-bottom: 15px;
}

.explore-now {
  justify-content: center;
  gap: 1rem;
  align-items: center;
  display: inline-flex;
  background-color: #7a2c18;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.explore-now:hover {
  background-color: #fff;
  color: #7a2c18;
  border: 1px solid #7a2c18;
}

/* Gallery Section */
.showcase-gallery {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.showcase-item {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.showcase-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
